DATABASE_URL=postgresql://...\nJWT_SECRET=random-string-panjang\nADMIN_EMAIL=admin@chiezk3q.com\nADMIN_PASSWORD=password-admin\nNEXT_PUBLIC_SITE_URL=https://chiezk3q.vercel.app\nNEXT_PUBLIC_SITE_NAME=ChiezK3q\nNEXT_PUBLIC_YOUTUBE_CHANNEL=https://youtube.com/@ChiezK3q
